table * {
  border: 2px solid black;
}
th {
  background-color: orange;
}

th:nth-child(2) {
  background-color: lightblue; /* color for 2. header cell*/
}

/* :nth-child(2): Selects the second child element within a parent container.
:nth-child(odd): Selects all odd positioned elements (1st, 3rd, 5th, ...).
:nth-child(even): Selects all even positioned elements (2nd, 4th, 6th, ...).
:nth-child(3n): Selects every third element (3rd, 6th, 9th, ...). */
